<div class="d-flex justify-content-center">
    <div>
        <h1 class="text-center">Sign Up</h1>
        <form action="/profile" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="InputName" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="InputName" aria-describedby="nameHelp">
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword">
            </div>
            <div class="mb-3">
                <label for="InputCnfrmPassword" class="form-label">Confirm Password</label>
                <input type="password" name="Cnfrmpassword" class="form-control" id="InputCnfrmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>