<footer class="page-footer font-small pt-5 navbar-light bg-light mt-2">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="font-weight-bold">
          <img
            src="/images/navbar-image/burger.png"
            alt="logo"
            class="d-inline-block align-text-top"
            width="30"
            height="24"
          />
          Hungry
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <img src="/images/favicon/favicon-16x16.png" alt="" />
          Hungry is an online food delivery application that deliver delicious
          food to people from various restaurants. They deliver best dishes from
          local restaurants and the delivery is fast and neat. The customer
          service Hungry offers is appreciable and best. The app interface is
          simple and thus makes the food ordering hassle-free.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="font-weight-bold">About-Us</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          We are a small startup based out of bangalore started as a project in
          year 2021 for a course and trying to scaling the app to real world.
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="font-weight-bold">Contact</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>#1, hebbal, Bengaluru, India</p>
        <p>hungry@hungry.com</p>
        <p>Partner Support: +91 9876543210</p>
        <p>Customer Support: +91 9638527410</p>
      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/">Hungry.com</a>
  </div>
</footer>