<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/navbar-image/burger.png" alt="logo" class="d-inline-block align-text-top" width="30"
                height="24">
            Hungry
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" href="#">Partner Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/partner/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/partner/signOut/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mb-5 mt-5">
    <div class="container mt-5 w-50 border border-dark bg-light text-center">
        <h1 class="h1 mt-5 text-danger">Ops!!!</h1>
        <h1 class="h1 mt-5">You Have Cancelled The Order!!!</h1>
        <h1 class="h6 mt-5">Note: Please Avoid Cancellation in future, It will Impact Your Ratings</h1>
        <div class="mt-5"></div>
    </div>
</div>